<div class="row content">
  <div class="col-sm-12 text-left">
    <h1>This is Create page</h1>
    <hr>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="name">
    </div>
    <div class="form-group">
      <label for="code">Code:</label>
      <input type="text" class="form-control" id="code" [(ngModel)]="code">
    </div>

    <hr>
    <button class="btn-info" (click)="addUser()">Add</button>
  </div>
</div>
