  <div class="row content">
    <div class="col-sm-12 text-left">
      <h1>Welcome this is User List</h1>
      <table>
        <colgroup>
          <col width="*">
          <col width="20%">
          <col width="20%">
          <col width="10%">
        </colgroup>
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Code</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users" (click)="navigateToDetail(user)">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.code}}</td>
            <td>
              <button (click)="deleteUser($event,user.id)" class="btn-danger">Del</button></td>
          </tr>
        </tbody>
      </table>
      <hr>
      <button class="btn-info" (click)="navigateToCreate()">Add</button>
    </div>
  </div>
  <create-user (doneEvent)="isCreateUser = false; getUsers()" *ngIf="isCreateUser"></create-user>
